<!DOCTYPE HTML>
<html lang="de">
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.1.0/dist/mini-default.min.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <a href="/" class="button">Home</a>
    </header>

    <h1><%= title %></h1>

    <%= yield %>

    <footer>
      <p>
        &copy; <%= Time.now.year %> <a href="http://www.eltern-sgh.de/arbeitskreise/ak-internet/">Arbeitskreis Internet</a> des <a href="http://eltern-sgh.de">Elternbeirats SGH</a>
        |
        <a href="https://github.com/sgh-eltern/pdf-service">Quellcode</a>
      </p>
    </footer>
  </body>
</html>
